body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

li {
    display: inline-block;
}

.room {
    padding: 0;
    margin: 0;
}

.menu {
    padding: 0;
    margin: 0;
}

.content {
    padding: 0;
    margin: 0;
}

.iframe {
    display: inline;
    padding: 0;
    margin: 0;
    border-style: none;
    height: 93vh;
}

.left {
    width: 80%;
}

.right {
    width: 19.5%;
}

.full {
    width: 100%;
}

.nodisplay {
    display: none;
}

